body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

section {
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}

footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 10px;
}
body {
  background-color: red !important;
}


